[build]
command = "cd themes/docsy && git submodule update -f --init && cd ../.. && hugo -b https://docs.zen-cart.com"
publish = "public"

[context.production.environment]
HUGO_VERSION = "0.74.3"
HUGO_ENV = "production"

[[redirects]]
  from = "https://zencartdocs.netlify.com/*"
  to = "https://docs.zen-cart.com/:splat"
  status = 301
  force = true
