pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre > code {
 white-space: pre-wrap !important; 
}

.indent {
  margin-left: 20px;
  margin-bottom: 20px; 
}

.td-cover-block--height-full {
  min-height: auto; 
}

.td-main {
  flex-grow: unset; 
}

footer {
  min-height: auto;
}

/* Hide description on leaf pages */ 
.td-page {
  .td-content {
    .lead {
       display: none !important; 
    }
  }
}

/* Sidebar Search Box - hide on mobile but leave hamburger visible */
@media (max-width:767px) {
  #content-mobile form.td-sidebar__search {
    visibility:hidden;
	padding-bottom:0;
  }
  .td-sidebar {
    padding-bottom: 0;
  }
  #content-mobile form.td-sidebar__search button {
    visibility:visible;
  }
}

/* Header - show search box on mobile */
@media (max-width: 868px){
  .td-navbar {
    position:relative;
	display:block;
	text-align:center;
  }
  .td-navbar .td-navbar-nav-scroll {
    font-size:1rem;
  }
  ul.navbar-nav.mt-2.mt-lg-0 {
    display:inline-flex;
	  margin-top:0px!important;
	    margin-left:1.5rem;
  }

  .navbar-nav.d-none.d-lg-block {
    display:inline-block!important;
	margin-right:0.2rem;
	margin-left:0.2rem;
  }
  .DocSearch-Button {
    margin-left:0!important;
  }
}

/* Header - alignment of elements */

@media (max-width: 768px) {
  ul.navbar-nav.mt-2.mt-lg-0 {
    margin-left: 1.5rem;
  }
}

@media (min-width:768px) and (max-width:868px) {
  #main_navbar {
    margin: 0;
  }
}

@media (min-width:869px) and (max-width:937px) {
  .navbar-nav.d-none.d-lg-block {
    max-width: 25%;
	display: inline-block!important;
  }
}

@media (min-width:938px) and (max-width: 991px) {
  .navbar-nav.d-none.d-lg-block {
    max-width: 27%;
	display: inline-block!important;
	margin-right: 0.5rem;
  }
}

@media (min-width:992px) and (max-width:1090px) {
  .navbar-nav.d-none.d-lg-block {
    max-width: 27%;
  }
}

@media (max-width: 1090px) {
  ul.navbar-nav.mt-2.mt-lg-0 {
    margin-top: 0!important;
  }
}

/* Left Column - reduce indent of headings without child */

nav.foldable-nav .without-child {
  padding-left: 0.7em;
}
#td-section-nav {padding-top:0.5em;}

/* Left Column - hide search box */
@media (min-width:768px) {
  #content-mobile form.td-sidebar__search {
    display:none!important;
  }
  .td-sidebar {
    padding-top: 0.5rem;
  }
  .td-main main {
    padding-top: 1.5rem;
  }
}

/* Re-styling homepage */
 

.td-home a.navbar-brand, .td-home header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.td-navbar-cover.flex-column.flex-md-row.td-navbar div#main_navbar.td-navbar-nav-scroll.ml-md-auto ul.navbar-nav.mt-2.mt-lg-0 li.nav-item.mr-4.mb-2.mb-lg-0 a.nav-link {
  color:#FFFFFF;
  text-shadow:none;
  
  padding-bottom:0rem;
}

.td-home header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.td-navbar-cover.flex-column.flex-md-row.td-navbar div#main_navbar.td-navbar-nav-scroll.ml-md-auto ul.navbar-nav.mt-2.mt-lg-0 li.nav-item.mr-4.mb-2.mb-lg-0 a.nav-link {

}

.td-home header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.td-navbar-cover.flex-column.flex-md-row.td-navbar div#main_navbar.td-navbar-nav-scroll.ml-md-auto ul.navbar-nav.mt-2.mt-lg-0 li.nav-item.mr-4.mb-2.mb-lg-0 a.nav-link:hover {
  color:#000000;
}

.td-section header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.td-navbar a.navbar-brand, .td-section header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.td-navbar div#main_navbar.td-navbar-nav-scroll.ml-md-auto ul.navbar-nav.mt-2.mt-lg-0 li.nav-item.mr-4.mb-2.mb-lg-0 a.nav-link {
  color:#FFFFFF;
}
.td-navbar {
  background:#367EBA;
}
 
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color:#FFFFFF;
} 

  /* hover,focus colour for /user & /dev headers */ 
.td-section header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.td-navbar a.navbar-brand:hover, .td-section header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.td-navbar a.navbar-brand:focus, .td-section header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.td-navbar div#main_navbar.td-navbar-nav-scroll.ml-md-auto ul.navbar-nav.mt-2.mt-lg-0 li.nav-item.mr-4.mb-2.mb-lg-0 a.nav-link:hover, .td-section header nav.js-navbar-scroll.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.td-navbar div#main_navbar.td-navbar-nav-scroll.ml-md-auto ul.navbar-nav.mt-2.mt-lg-0 li.nav-item.mr-4.mb-2.mb-lg-0 a.nav-link:focus {  
  color: #0A0A0A;  
}

.td-navbar-cover {
  background: #B25E10!important;
}	

h1.display-1.mt-0.mt-md-5.pb-4 {
  color: #4f4e5b;
}

.col-12.col-sm-4.text-center.py-2.order-sm-2 a {
  text-decoration: underline;color: #ffffff;
}
.bg-dark {
  background-color: #585764 !important;
}

.td-overlay--dark {
  background-image: linear-gradient(#ff9929,#ffd132);
}

.td-overlay--dark::after, .td-box--0 {
  background:none;
}

a .col-lg-4 {
  color:#FFFFFF;
}

.col-lg-4 p a:hover, .col-lg-4 p a:focus {
  color:#030303;
}

.cellA1, .cellA2 {
  width:49.6%;
  margin:0;
  background-color:#5c9bcf;
  border-radius:0.5rem;
  border: #5c9bcf solid 4px; 
  transition: border 0.5s 0s ease;
}

.cellA1:hover, .cellA1:focus, .cellB1:hover, .cellB1:focus, .cellD1:hover, .cellD1:focus, .cellD2:hover, .cellD2:focus, .cellE1:hover, .cellE1:focus, .cellE2:hover, .cellE2:focus, .cellF1:hover, .cellF1:focus, .cellG1:hover, .cellG1:focus {
  background-color:#367EBA;
  border: #4f4e5b solid 4px;
}

.cellA2:hover, .cellA2:focus {
  border: #4f4e5b solid 4px; 
  background-color:#B4661D;
}

.cellD1, .cellD2, .cellE1, .cellE2, .cellF1, .cellG1 {
  width:49.6%;
  margin:0;
  background-color:#5c9bcf;
  border-radius:0.5rem;
  border: #5c9bcf solid 4px; 
  transition: border 0.5s 0s ease;
}

.cellD1, .cellA1 { 
  margin:0 0.2rem 0.2rem 0;
}

.cellD2, .cellA2 { 
  margin:0 0 0.2rem 0.2rem;
}

.cellE1 { 
  margin:0.2rem 0.2rem 0.2rem 0;
}

.cellE2 { 
  margin:0.2rem 0 0.2rem 0.2rem;
}  

.cellB1 {
width:99.8%;
margin:0;
background-color:#5c9bcf;
border: #5c9bcf solid 4px; 
transition: border 0.5s 0s ease;
}

.cellB1 {
border-radius:0.5rem;
}

.cellB1, .cellF1 {
margin:0.2rem auto 0;
}

.cellG1 {
border-radius:0.5rem;
margin:0 auto;
}


.row.container {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.td-default main section {
  padding-top:2rem;
  padding-bottom:2rem;
}

.mb-0 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; 
}

@media (max-width: 767px) {
  .td-default main > section:first-of-type {
    padding-top: 4rem;
  }  
}

@media (max-width: 768px) {  
  .cellD1, .cellD2, .cellE1, .cellE2, .cellF1, .cellG1 {
    width:100%;
  }
  .cellD1 {
    margin:0 0 0.2rem 0;
  }
  .cellD2, .cellE1, .cellE2 {
    margin:0.2rem 0 0.2rem 0;
  }
  .cellF1 {
    margin:0.2rem 0 0 0;
  }  
}

@media (min-width: 768px) and (max-width: 991px) {
  .cellD1, .cellD2, .cellE1, .cellE2, .cellF1, .cellG1 {
    width:49.5%;
  }
}

@media (min-width: 768px) and (max-width: 868px) {
  .td-default main > section:first-of-type {
    padding-top: 0rem;
  }
}

@media (min-width: 869px) {
  .td-default main > section:first-of-type {
    padding-top: 6rem;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    max-width: 100%;
	padding-top:1rem;	
  }
}


@media (max-width: 992px) {
  .cellA1, .cellA2, .cellB1 {
    width:100%;
  }
  .col-lg-4 {    
	padding-top:1rem;
    margin-bottom:0!important;	
  }  
  .cellA1 {
    margin:0 0 0.2rem 0;
  } 
  .cellA2 {
    margin:0.2rem 0 0.2rem 0;
  } 
  .cellB1 {
    margin:0.2rem 0 0 0;
  }  
} 

@media (hover: hover) and (pointer: fine) {
  nav.foldable-nav .ul-1 .with-child > label:hover::before {
    transform:none;
  }
  nav.foldable-nav .ul-1 .with-child > input:checked ~ label:hover::before {
    transform: rotate(90deg) !important;
  }
}
