pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre > code {
 white-space: pre-wrap !important; 
}

.indent {
  margin-left: 20px;
  margin-bottom: 20px; 
}

.td-cover-block--height-full {
  min-height: auto; 
}

.td-main {
  flex-grow: unset; 
}

/* Hide description on leaf pages */ 
.td-page {
  .td-content {
    .lead {
       display: none !important; 
    }
  }
}

/* Sidebar Search Box - hide on mobile but leave hamburger visible */
@media (max-width:767px) {
  #content-mobile form.td-sidebar__search {
    visibility:hidden;
	padding-bottom:0;
  }
  .td-sidebar {
    padding-bottom: 0;
  }
  #content-mobile form.td-sidebar__search button {
    visibility:visible;
  }
}

/* Header - show search box on mobile */
@media (max-width: 868px){
  .td-navbar {
    position:relative;
	display:block;
	text-align:center;
  }
  .td-navbar .td-navbar-nav-scroll {
    font-size:1rem;
  }
  ul.navbar-nav.mt-2.mt-lg-0 {
    display:inline-flex;
	  margin-top:0px!important;
	    margin-left:1.5rem;
  }

  .navbar-nav.d-none.d-lg-block {
    display:inline-block!important;
	margin-right:0.2rem;
	margin-left:0.2rem;
  }
  .DocSearch-Button {
    margin-left:0!important;
  }
}

/* Header - alignment of elements */

@media (max-width: 768px) {
  ul.navbar-nav.mt-2.mt-lg-0 {
    margin-left: 1.5rem;
  }
}

@media (min-width:768px) and (max-width:868px) {
  #main_navbar {
    margin: 0;
  }
}

@media (min-width:869px) and (max-width:937px) {
  .navbar-nav.d-none.d-lg-block {
    max-width: 25%;
	display: inline-block!important;
  }
}

@media (min-width:938px) and (max-width: 991px) {
  .navbar-nav.d-none.d-lg-block {
    max-width: 27%;
	display: inline-block!important;
	margin-right: 0.5rem;
  }
}

@media (min-width:992px) and (max-width:1090px) {
  .navbar-nav.d-none.d-lg-block {
    max-width: 27%;
  }
}

@media (max-width: 1090px) {
  ul.navbar-nav.mt-2.mt-lg-0 {
    margin-top: 0!important;
  }
}

/* Left Column - reduce indent of headings without child */

nav.foldable-nav .without-child {
  padding-left: 0.7em;
}
#td-section-nav {padding-top:0.5em;}

/* Left Column - hide search box */
@media (min-width:768px) {
  #content-mobile form.td-sidebar__search {
    display:none!important;
  }
  .td-sidebar {
    padding-top: 0.5rem;
  }
  .td-main main {
    padding-top: 1.5rem;
  }
}

/* Homepage - make header background solid on large screens to prevent text overlap */
 

  .td-navbar-cover {
    background: #403F4C!important;
  }	


/* Homepage - center body elements */

ul.mainpage_list {
  padding-left:0;
}

/* Homepage - Correct Color Contrast for Footer Links */
.col-12.col-sm-4.text-center.py-2.order-sm-2 a {color: #6aafff;}
.col-12.col-sm-4.text-center.py-2.order-sm-2 a:hover, .col-12.col-sm-4.text-center.py-2.order-sm-2 a:focus {color: #f2f2f2;}

/* Change settings to make the current home page fit on a desktop screen */
main.td-main hr {margin-top: 0;margin-bottom: 0;}


footer {
    min-height: auto;

    @include media-breakpoint-down(md) {
        min-height: auto;
    }
}

/* Re-styling homepage */

.td-overlay--dark {
  background: #d77115;
}

.td-overlay--dark::after, .td-box--0 {
  background:none;
}

.navbar-dark .navbar-nav .nav-link {   
  color:#FFFFFF;	
  text-shadow:none;
}

  /* hover,focus colour for homepage header */ 
.td-home .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #ADADAD;
}

  /* hover,focus colour for /user & /dev header */ 
.td-section .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #030303;
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
	padding-top:1rem;	
  }
}

.col {
  padding-left:0;
  padding-right:0;
}

.col-lg-4 p a {
  color:#FFFFFF;
}

.col-lg-4 p a:hover, .col-lg-4 p a:focus {
  color:#030303;
}


.row.td-box:nth-child(n+5) {
  margin-bottom: 1.5rem;
  border-radius:0.5rem;
}

.row.td-box:nth-child(6) {
  border-radius:0 0 0.5rem 0.5rem;
}

.row.container {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}
.row.container .col-lg-4, .row.row .col-lg-4 {
    border-color: #562d08;
    border-style: solid;
}

.row.container .col-lg-4:nth-child(1) {
  background: #157BD7;
  border-radius:0.5rem 0 0 ;
}

.row.container .col-lg-4:nth-child(2) {
  background: #157BD7;
  border-radius:0 0.5rem 0 0;
}
  
.row.container .col-lg-4:nth-child(3) {
  background: #157BD7;
  border-radius:0 0 0.5rem 0.5rem;
  flex: 0 0 100%;
  max-width: 100%;
  padding-top: 1rem;
}

@media (max-width: 991px) {
  .col-lg-4 {    
	padding-top:1rem;
    margin-bottom:0!important;	
  }  
 .row.container .col-lg-4:nth-child(1), .row.container .col-lg-4:nth-child(2), .row.container .col-lg-4:nth-child(3) {
    margin-bottom:0!important; }
 .row.container .col-lg-4:nth-child(1){
    border-radius:0.5rem 0.5rem 0 0!important;
  }
  .row.container .col-lg-4:nth-child(2) {
	border-radius:0!important;	
  }
  .row.container .col-lg-4:nth-child(3) {
    border-radius:0 0 0.5rem 0.5rem!important;
  }
} 

.row.row .col-lg-4 {
  margin:0 auto;
}

.td-default main section {
  padding-top:2rem;
  padding-bottom:2rem;
}

@media (min-width: 869px) {
  .td-default main > section:first-of-type {
    padding-top: 6rem;
  }
}

@media (min-width: 768px) and (max-width: 868px) {
  .td-default main > section:first-of-type {
    padding-top: 0rem;
  }
}

@media (max-width: 767px) {
  .td-default main > section:first-of-type {
    padding-top: 4rem;
  }
}

.mb-0 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

section.row:nth-child(10) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > p:nth-child(1) > a:nth-child(1):hover, section.row:nth-child(10) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > p:nth-child(1) > a:nth-child(1):focus, section.row:nth-child(10) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > p:nth-child(4) > a:nth-child(1):hover, section.row:nth-child(10) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > p:nth-child(4) > a:nth-child(1):focus {
  color:#ADADAD;
}

section.row:nth-child(4) {
  background-color:#a95910;
  border-radius:0.5rem 0.5rem 0 0;
} 

section.row:nth-child(4) .td-arrow-down:before {
border-color: #a95910 transparent transparent transparent;
}
