/*

Add styles or override variables from the theme here.

*/

.mainpage_list {
  list-style-type:none;
}
.mainpage_list > li { 
  font-weight: bold;
}
.mainpage_list > li > a { 
  color: yellow;
  text-decoration: underline; 
}
.cms_table_td { 
  padding: 15px;
}
