/*
Add styles or override variables from the theme here.
*/

.mainpage_list {
  list-style-type:none;
}
.mainpage_list > li { 
  font-weight: bold;
}
.mainpage_list > li > a { 
  color: yellow;
  text-decoration: underline; 
}
.cms_table_td { 
  padding: 15px;
}

#endcontent {
   height: 1px;
   background-color: black
}

.row > main { 
   max-width: 100% !important;
}

.td-content > p {
   max-width: 100% !important;
}

img {
   border: 1px solid black; 
   border-style: solid !important; 
   margin-top: 10px; 
}

/* Adjust left column and main content sizes to accommodate foldable sidebar sections */

@media (min-width:768px) and (max-width:816px) {
  .row > main {
    max-width: 70%!important;
  }	
}

@media (min-width:817px) and (max-width:1199px) {
  .row > main {
    max-width: 72%!important;
  }	
}

@media (min-width:768px) and (max-width:999px) {
  .td-sidebar {
    min-width: 14rem;
  }
}

@media (min-width:1000px) {
  .td-sidebar {
    min-width: 17rem;
  }
}

@media (min-width:768px) { 
  body > div.container-fluid.td-outer > div.td-main {
     margin-top: 4.2rem;
  } 
}
