    <br><br>
    <hr id="endcontent">
    <div id="questions"> 
        Still have questions?  No problem!  Just head over to the
        <a href="https://www.zen-cart.com/forum.php"> Zen Cart support forum</a> 
        and ask there in the appropriate subforum.
        In your post, please include your <a href="/user/admin_pages/admin_version/">Zen Cart and PHP versions</a>, and a link to your site.
        <br><br>
        <div id="eo"> 
       Is there an error or omission on this page?  Please post to <a href="https://www.zen-cart.com/forumdisplay.php?128-General-Questions">General Questions on the support forum</a>.  Or, if you'd like to open a pull request, just <a href="https://github.com/zencart/documentation/blob/master/CONTRIBUTING.md">review the guidelines</a> and get started. 
		  {{ partial "footer-edit.html" . }}

        </div>
        <br><br>
    </div>
