{{ with .Site.Params.algolia_docsearch }}
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
{{ end }}
{{ with .Params.customCss }}<link rel="stylesheet" href="{{ . }}" />{{ end }}

<script>!function(){function e(){var e=((new Date).getTime(),document.createElement("script"));e.async=!0,e.setAttribute("embed-id","31c403bc-42a5-4d13-8e91-af999bf9fae9"),e.src="https://widget.ada4zencart.com/embed-scripts/31c403bc-42a5-4d13-8e91-af999bf9fae9";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}var t=window;t.attachEvent?t.attachEvent("onload",e):t.addEventListener("load",e,!1)}();</script>
