/*
table > tbody > tr > td > img {
   max-width: inherit !important;
}
*/

table tr {
   background-color: #FFF !important;
}

.img_row {
   display: block; 
}

.img_col {
   float: left; 
   margin-right: 20px; 
}

.notes_col {
   float: left; 
   width: 70%;
}
